*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: auto;
    background-image: linear-gradient(to bottom right,rgb(7, 6, 6),rgb(27, 23, 23)75%, rgb(102, 92, 92));
}

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
border-radius: 5px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(53, 51, 51); 
border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: rgb(5, 5, 5); 
}
/*===========================================For my Head Bar===============================*/
   
    #introduction {
        padding: 30px;
        padding-top: 50px;
        display: flex;
    }

    #introduction h1{
       font-size: 70px;
       font-family: 'Franklin Gothic Medium';
       color: antiquewhite;
       height: 150px;
       margin-top: 70px;
    }

    #webName img{
        width: 170px;
        padding-top: 60px;
        padding-right: 20px;
        border-radius: 50%;
    }

    #webName img:hover {
        transform: rotate(360deg);
        transition: .5s ease-out;
    }

    #introSentence {
        font-size: 20px;
        font-family: 'Franklin Gothic Medium';
        color: antiquewhite;
        padding-left: 15px;
        font-style: italic;
        font-variant: small-caps;
        animation-name: fade-effect;
        animation-duration: 3s;
        animation-iteration-count: infinite;
     }

     #introSentence2 {
        font-size: 20px;
        font-family: 'Franklin Gothic Medium';
        color: antiquewhite;
        margin-bottom: 100px;
        padding-left: 15px;
    }

    @keyframes fade-effect {
        0% {opacity: 1;}
        10% {opacity: 0.2;}
        15% {opacity: 0.9;}
        20% {opacity: 0.2;}
        100% {opacity: 1;}
    }
    #hidden {
        display: none;
    }
    .headBar img {
        width: 60px;
        margin: 10px;
        border-radius: 50%;
    }

    .headBar{
        width: 100%;
        display: flex;
        font-size: 20px;
        padding-left: 30px;
        height: 65px;
        background-color: gray;
        position: fixed;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        box-shadow:0px 3px 10px black;
    }

    .headBar a{
        display: flex;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        text-decoration: none;
        color: rgb(10, 10, 10);
    }

    .headBar a:hover{
        text-decoration: none;
        color: rgb(222, 222, 223);
        font-size: 20px;
        transition: .5s  ;
    }

    #home a{
        color: aliceblue;
        background-color: rgb(34, 34, 34); 
        padding-top: 10px;
        padding-bottom: 23px;
        margin-top: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

/*=======================================For my Side Bar====================================*/
    .bars {
        display: flex;
    }
    #sideBar {
        margin: 10px;
        margin-top: 100px;
        font-size: 20px;
        height: 500px;
        background-color: rgb(14, 13, 13);
        width: 110px;
        padding-top: 10px;
        border-radius: 5px;
        border-bottom-style: dotted;
        border-right-style: dotted;
        box-shadow: 6px 8px black   ;
    }

    #sideBar img {
        width: 20px;
    }

    #sideBar div:hover {
        transform: rotate(-4deg);
        transition: .5s;
    }

    #sideBar div {
        padding-bottom: 10px;
        text-decoration: none;
        color: aliceblue;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-top: 20px;
        width: 110px;
    }

    #sideBar div a{
        padding-bottom: 30px;
        text-decoration: none;
        color: aliceblue;
        margin-bottom: 30px;
        width: 110px;
    }

/*========================================For my Main Screen===================================*/

    #mainScreen {
        background-color: rgb(14, 13, 13);
        width: 80%;
        height: 100%;
        margin-top: 100px;
        margin-left: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        border-right-style: dashed;
        box-shadow: 6px 8px black;
    }

    #par1 {
        display: flex;
    }

    #par1 img{
        margin-top: 25px;
        margin-left: 25px;
        border-radius: 5px;
        width: 300px;
    }

    #par1 h1{
        margin-top: 40px;
        margin-left: 30px;
        color: antiquewhite;
        margin-right: 20px;
    }

    #par1 p{
        margin-top: 10px;
        margin-left: 30px;
        color: antiquewhite;
        font-family: Verdana;
        font-size: 20px;
        margin-right: 20px;
    }

    #par2 {
        margin-top: 10px;
        margin-left: 30px;
        color: antiquewhite;
        font-family: Verdana;
        margin-right: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
    }

    #par2 p {
        margin-right: 20px;
        font-size: 22px;
    }

    #par2 img{
        width: 250px;
        border-radius: 5px;
    }

/*========================================Foy my Footnote======================================*/

    #footnote {
        width: 100%;
        height: 150px;
        color: rgb(86, 86, 87);
        background-color: rgb(26, 25, 25);
        margin-top: 50px;
        display: flex;  
    }

    #muriclogo {
        width: 30%;
        height: 100px;
    }

    #muriclogo img {
        width: 100px;
        border-radius: 50%;
        margin-top:30px;
        margin-left:30px;
    }

    #muriclogo img:hover {
        transform:rotate(360deg);
        transition: .5s ease-out;
    }

    #muriclogo p {
        padding-left: 36px;
        color: black;
        font-weight: bolder;
    }

    #note {
        padding-top:10px;
        font-family: Calibri;
        text-align: center;
        padding-top: 40px;
        justify-content: center;
        width: 100%;
    }

    #social {
        width: 20%;
    }

    #social img {
        width: 40px;
        margin-top: 30px;
        margin-left:  30px;
    }

    #social img:hover{
        opacity: 50%;
    }

    #social p {
        font-size: smaller;
        padding-left: 10px;
    }

    #flag img{
        width: 15px;
        margin-top: 0%;
        margin-left: 23px;
    }


/*========================================800 Wide Screen======================================*/

@media screen and (max-width:800px) {                            /*---Head Bar---*/ 
        
        body {
            width: 100%;
        }

        #introduction {
            padding: 20px;
            display: flex;
        }

        #introduction h1{
        font-size: 50px;
        font-family: 'Franklin Gothic Medium';
        color: antiquewhite;
        height: 150px;
        margin-top: 70px;
        }

        #webName img{
            width: 150px;
            padding-top: 80px;
            padding-left: 30px;
            border-radius: 50%;
        }

        #introSentence {
            font-size: 17px;
            font-family: 'Franklin Gothic Medium';
            color: antiquewhite;
            margin-bottom: 70px;
            padding-left: 30px;
        }
        #hidden {
            display: hidden;
        }

        .headBar a{                                 
            width: 100%;  
            margin-bottom: 15px;
            padding-left: 10px;
            font-size: 18px;
            }

        #home a{
            padding-bottom: 24px    ;
        }

        #sideBar {                                                   /*---Side Bar---*/
            margin: 8px;
            margin-top: 100px;
            font-size: 15px;
            height: 500px;
            background-color: rgb(14, 13, 13);
            width: 90px;
        }

        #sideBar div a{
            padding-bottom: 5px;
            text-decoration: none;
            color: aliceblue;
            margin-bottom: 30px;
            width: 110px;
        }

        #mainScreen {
            background-color: rgb(14, 13, 13);
            width: 100%;
            height: 100%;
            margin-top: 100px;
            margin-left: 20px;
            margin-right: 20px;
            border-radius: 5px;
            border-right-style: dashed;
            border-bottom-style: dashed;
            box-shadow: 6px 8px black;
        }

        #par1 {
            flex-wrap: wrap;
        }

        #par1 img {
            margin-top: 25px;
            margin-left: 25px;
            border-radius: 5px;
            width: 230px;
        }

        #par1 h1 { 
            margin-top: 10px;
        }

        #par2 {
            display: block;
        }

        #par2 img{
            width: 200px;
            border-radius: 5px;
        }
    
        #muriclogo {                                                   /*---Footnote---*/
            width: 30%;
            height: 100px;
        }
    
        #muriclogo img {
            width: 80px;
            border-radius: 50%;
            margin-top:30px;
            margin-left:30px;
        }
    
        #muriclogo p {
            padding-left: 30px;
            color: black;
            font-weight: bolder;
            font-size: smaller;
        }
    
        #note {
            padding-top:10px;
            font-family: Calibri;
            font-size: smaller;
            text-align: center;
            padding-top: 40px;
            justify-content: center;
            width: 60%;
        }

        #social p {
            font-size:x-small;
            padding-left: 20px;
        }

        #social img {
            width: 30px;
            margin-top: 30px;
            margin-left:  30px;
        }

        #flag img{
            width: 15px;
            margin-top: 0%;
            margin-left: 23px;
        }
    }
/*========================================500 Wide Screen==================================*/

@media screen and (max-width:500px) {   
        
        body {
            width: 100%;
        }

        #introduction {
            padding: 20px;
            display: flex;
        }

        #introduction h1{
        font-size: 50px;
        font-family: 'Franklin Gothic Medium';
        color: antiquewhite;
        height: 150px;
        margin-top: 40px;
        }

        #introSentence {
            display: none;
        }

        #hidden {
            display: block;
            font-size: 14px;
            font-family: 'Franklin Gothic Medium';
            color: antiquewhite;
            margin-top: 30px;
            width: 100%;
            text-align: center;
            padding-bottom: 30px;
            font-style: italic;
            font-variant: small-caps;
            animation-name: fade-effect;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }

        @keyframes fade-effect {
            0% {opacity: 1;}
            10% {opacity: 0.2;}
            15% {opacity: 0.9;}
            20% {opacity: 0.2;}
            100% {opacity: 1;}
        }
        .bars {
            display:block;
        }

        .headBar {
            position: static;
            width: 100%;
        }
        
        .headBar a{                                         /*---Head Bar---*/
            margin-top: 5px;
            padding: 20px;
            font-size: 15px;
            margin-right: 0%;
        }

        
        #home a{
            overflow-y: hidden;
            padding-bottom: 28px;
        }

        #home:hover {
            overflow-y: hidden;
        }


        #sideBar {                                                  /*---Side Bar---*/
            margin: 8px;
            margin-top: 15px;
            padding-left: 10px;
            font-size: 15px;
            height: 50px;
            width: 95%;
            background-color: rgb(14, 13, 13);
            display: flex;
        }

        #sideBar div{
            padding-bottom: 5px;
            text-decoration: none;
            color: aliceblue;
            margin-bottom: 5px;
            margin-top: 5px;
        }   

        #mainScreen {
            background-color: rgb(14, 13, 13);
            width: 90%;
            height: 100%;
            margin-top: 20px;
            margin-left: 20px;
            margin-bottom: 20px;
            border-radius: 5px;
            border-right-style: dashed;
            box-shadow: 6px 8px black;
        }

        #par1 {
            flex-wrap: wrap;
        }

        #par1 p{
            font-size: 16px;
            line-height: 20px;
        }

        #par1 div{
            display: block;
            border-radius: 10px;
            width: 150%;
            text-align: center;
        }

        #par1 h1{
            margin-top: 10px;
            margin-left: 20px;
            color: antiquewhite;
            font-size:40px;
            text-align: center;
        }

        #par1 p{
            text-align: left;
        }

        #par2 {
            font-size: medium;
        }

        #par2 p{
            font-size: 16px;
            line-height: 20px;
        }

        #par2 img{
            display: none;
        }

        #footnote {                                                 /*---Footnote*/
            height: 100px;
            width: 100%;
        }
        #muriclogo img {                                        
            width: 50px;
            border-radius: 50%;
            margin-top:30px;
            margin-left:30px;
        }
    
        #muriclogo p {
            padding-left: 25px;
            color: black;
            font-weight: bolder;
            font-size:x-small;
        }
    
        #note {
            padding-top:10px;
            font-family: Calibri;
            font-size:x-small;
            text-align: center;
            padding-top: 40px;
            justify-content: center;
            width: 60%;
        }

        #social p {
            font-size:xx-small;
            padding-left: 5px;
            text-align: center;
        }
    
        #social img {
            width: 15px;
            margin-top: 30px;
            margin-left: 20px;
        }
    
        #flag img{
            width: 10px;
            margin-top: 0%;
            margin-left: 1px;
        }
    }
/*=====================================412 width screen=======================================*/

@media only screen and (max-width:412px) {   
        
    body {
        width:392px;
    }

    .headBar img {
        margin-left: 0px;
    }

    .headBar {
        position: static;
        padding-left: 10px;
    }

    .headBar a{
        font-size: 10px;
        height: 56px;
    }


    #introduction {
        padding: 20px;
        display: flex;
    }

    #introduction h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium';
    color: antiquewhite;
    height: 150px;
    margin-top: 40px;
    }

    #webName img{
        width: 100%;
        padding-top: 80px;
        padding-left: 30px;
        border-radius: 50%;
    }

    #introSentence {
        font-size: 13px;
        font-family: 'Franklin Gothic Medium';
        color: antiquewhite;
        margin-top: 30px;
        padding-left: 30px;
    }

    .bars {
        display:block;
    }

    .headBar {
        position: static;
        width: 105%;
    }
    .headBar a{                                         /*---Head Bar---*/
        width: 100%;  
        margin-bottom: 10px;
        padding-left: 20px;
        font-size: 15px;
        margin-right: 0%;
     }

     #home a{
        padding-bottom: 29px    ;
    }


    #sideBar {                                                  /*---Side Bar---*/
        margin: 20px;
        margin-top: 15px;
        padding-left: 10px;
        font-size: 15px;
        height: 50px;
        width: 95%;
        background-color: rgb(14, 13, 13);
        display: flex;
    }

    #sideBar div{
        padding-bottom: 5px;
        text-decoration: none;
        color: aliceblue;
        margin-bottom: 5px;
        margin-top: 5px;
    }   

    #mainScreen {
        background-color: rgb(14, 13, 13);
        width: 90%;
        height: 100%;
        margin-top: 20px;
        margin-left: 30px;
        margin-bottom: 20px;
        border-radius: 5px;
        border-right-style: dashed;
        box-shadow: 6px 8px black;
    }

    #par1 {
        flex-wrap: wrap;
        font-size:small;
    }

    #par1 img{
        margin-top: 25px;
        margin-left: 25px;
        border-radius: 5px;
        width: 200px;
        
    }

    #par1 h1{
        margin-top: 10px;
        margin-left: 20px;
        color: antiquewhite;
    }

    #par2 {
        font-size: medium;
    }

    #par2 img{
        width: 150px;
        border-radius: 5px;
    }

    #footnote {                                                 /*---Footnote*/
        height: 100px;
        width: 412px;
    }
    #muriclogo img {                                        
        width: 50px;
        border-radius: 50%;
        margin-top:30px;
        margin-left:30px;
    }

    #muriclogo p {
        padding-left: 25px;
        color: black;
        font-weight: bolder;
        font-size:x-small;
    }

    #note {
        padding-top:10px;
        font-family: Calibri;
        font-size:x-small;
        text-align: center;
        padding-top: 40px;
        justify-content: center;
        width: 60%;
    }

    #social p {
        font-size:xx-small;
        padding-left: 10px;
        text-align: center;
    }

    #social img {
        width: 15px;
        margin-top: 30px;
        margin-left:  19px;
    }

    #flag img{
        width: 10px;
        margin-top: 0%;
        margin-left: 10px;
    }
}
/*=====================================350 width screen============================*/
@media screen and (max-width:350px) {   
        
    body {
        width: 100%;
    }
    #introduction {
        padding: 20px;
        display: flex;
    }

    #introduction h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium';
    color: antiquewhite;
    height: 150px;
    margin-top: 40px;
    }

    #webName img{
        width: 100%;
        padding-top: 80px;
        padding-left: 30px;
        border-radius: 50%;
    }

    #introSentence {
        font-size: 13px;
        font-family: 'Franklin Gothic Medium';
        color: antiquewhite;
        margin-top: 30px;
        padding-left: 30px;
    }

    .bars {
        display:block;
    }

    .headBar {
        position: static;
        width: 118%;
    }
    .headBar a{                                         /*---Head Bar---*/
        width: 100%;  
        margin-bottom: 10px;
        padding-left: 20px;
        font-size: 15px;
        margin-right: 0%;
     }

     #home a{
        padding-bottom: 29px    ;
    }


    #sideBar {                                                  /*---Side Bar---*/
        margin: 8px;
        margin-top: 15px;
        padding-left: 10px;
        font-size: 15px;
        height: 50px;
        width: 113%;
        background-color: rgb(14, 13, 13);
        display: flex;
    }

    #sideBar div{
        padding-bottom: 5px;
        text-decoration: none;
        color: aliceblue;
        margin-bottom: 5px;
        margin-top: 5px;
    }   

    #mainScreen {
        background-color: rgb(14, 13, 13);
        width: 110%;
        height: 90%;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        border-right-style: dashed;
        box-shadow: 6px 8px black;
    }

    #par1 {
        flex-wrap: wrap;
        font-size:small;
    }

    #par1 img{
        margin-top: 25px;
        margin-left: 25px;
        border-radius: 5px;
        width: 200px;
        
    }

    #par1 h1{
        margin-top: 10px;
        margin-left: 20px;
        color: antiquewhite;
    }

    #par2 {
        font-size: medium;
    }

    #par2 img{
        width: 150px;
        border-radius: 5px;
    }

    #footnote {                                                 /*---Footnote*/
        height: 100px;
        width: 118%;
    }

    #muriclogo img {                                        
        width: 50px;
        border-radius: 50%;
        margin-top:30px;
        margin-left:30px;
    }

    #muriclogo p {
        padding-left: 25px;
        color: black;
        font-weight: bolder;
        font-size:x-small;
    }

    #note {
        padding-top:10px;
        font-family: Calibri;
        font-size:x-small;
        text-align: center;
        padding-top: 40px;
        justify-content: center;
        width: 60%;
    }

    #social p {
        font-size:xx-small;
        padding-left: 10px;
        text-align: center;
    }

    #social img {
        width: 15px;
        margin-top: 30px;
        margin-left:  30px;
    }

    #flag img{
        width: 10px;
        margin-top: 0%;
        margin-left: 10px;
    }
}

/*=====================================325 width screen============================*/
@media screen and (max-width:325px) { 

    .headBar {
        position: static;
        width: 127%;
        font-size: 10px;
    }

    .headBar a {
        font-size: 11px;
        height: 55px;
    }
    #sideBar {                                                  /*---Side Bar---*/
        margin: 8px;
        margin-top: 15px;
        padding-left: 10px;
        font-size: 15px;
        height: 50px;
        width: 120%;
        background-color: rgb(14, 13, 13);
        display: flex;
    }

    #mainScreen {
        background-color: rgb(14, 13, 13);
        width: 115%;
        height: 90%;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        border-right-style: dashed;
        box-shadow: 6px 8px black;
    }

    #footnote {                                                 /*---Footnote*/
        height: 100px;
        width: 127%;
    }
 }